[Unit]
Description=Mangum Power Monitor

[Service]
Restart=always
RestartSec=1
EnvironmentFile=-/etc/default/magpi
ExecStart=/usr/local/bin/magpi.py $MAGPIOPTS -p /dev/%i

[Install]
WantedBy=multi-user.target
